@font-face {
    font-family: 'Phudu';
    src: url('fonts/Phudu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Phudu-big';
    src: url('fonts/Phudu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
    overflow-x: hidden;
    text-align: left;
}

span,a,label,p{
    font-family: "poppins",sans-serif;
    text-decoration: none;
}


h1,h2,h3,h4,h6,h6{
    font-family: "Phudu-big";
     font-size: bold;
}
button,input{
    font-family: "poppins",sans-serif;
}

.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: linear-gradient(90deg,rgb(5, 5, 5),#111111D9,#111111D9);
    z-index: 10000;
    height: 110px;
    border-bottom: 2px solid #2BADE2;
    width: 100%;
    top: 0;
}
.navigation-container a{
    font-size: .9em;
}

.header-navigation{
    padding: 20px 15px;
    border-radius: 50px;
    background: linear-gradient(90deg,rgb(5, 5, 5),#111111D9,#111111D9);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.header-navigation a{
    color: white;
    padding: 10px 23px;
    border: none;
    border-radius: 30px; 
    margin-left: 3px;
    transition: all .5s;
}
.header-navigation a.active{
    background: linear-gradient(90deg,#2BADE2,#2286AF,#185F7C);
}
.header-navigation a:hover{
    background: linear-gradient(90deg,#2BADE2,#2286AF,#185F7C);
}
.header-links{
    position: relative;
}
.header-links a{
    color: white;
    padding: 0 15px;
}
.header-search{
    color: #2BADE2;
    height: 16px;
    width: 16px;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.header-links a{
    color: #2BADE2;
}
.header-links a:first-of-type{
    border-right: 3px solid #2BADE2;
}
.services-hero{
    height: 650px;
    overflow: hidden;
    position: relative;
}
.services-hero img{
    height: 1800px;
    width: 100%;
    overflow: hidden;
    margin-top: -650px;
}
.hero-contents{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    overflow: hidden;
}
.services-contents-bg{
    width: 100%;
    height: 100%;
}
.hero-contents h1{
    font-family: monoton;
    font-size: 6em;
}
.hero-contents h1 span{
    font-family: monoton;
    margin-left: 15px;
}
.hero-contents p{
    font-size: 1em;
    font-weight: 300;
}
.services-contents{
    position: relative;
}
.services-contents-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 101%;
}
.service1{
    padding: 40px 80px 40px 80px;
}
.service1 .service-head{
    display: flex;
    justify-content: space-between;
}

.service1 .service-head h3{
    color: #2BADE2;
    position: relative;
    height: 40px;
}

.service1 .service-head h3::before{
    content: "";
    width: 50%;
    background-color: #2BADE2;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.service1 .service-head h3::after{
    content: "";
    width: 50%;
    background-color: #2BADE2;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: -15px;
}

.service1 .service-head button{
    border: none;
    border-radius: 7px;
    background-color: #2BADE2;
    font-weight: 600;
    font-size: .9em;
}
.service1-contents{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  overflow: hidden;
  color: white;
  margin-top: 60px;
}

.service-head{
  margin-bottom: 50px;
}
.service-head p{
  margin-bottom: 50px;
}
.service-head p{
    color: #13AEEE;
}
.service-head p span:first-of-type{
    margin-left: 40px;
    opacity: .4;
    font-weight: 950;
    font-size: 2em;
    line-height: 1;
}
.service-head p span:nth-child(2){
    opacity: .6;
    font-weight: 880;
    font-size: 2em;
    line-height: 1;
}
.service-head p span:nth-child(3){
    opacity: 1;
    font-weight: 800;
    font-size: 2em;
    line-height: 1;
}

.service1-contents p,.service1-contents li{
  font-size: .9em;
  line-height: 1.7;
  font-weight: 300;
  margin: 20px 0;
  opacity: .8;
}
.service1-contents li span{
  font-weight: 600;
  font-size: 1.3em;
  color: white;
}
.service1-contents button{
    padding: 7px 25px;
    border-radius: 8px;
    border: 1px solid #2BADE2;
    background-color: transparent;
    color: #2BADE2;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
}

.service1-contents button::before{
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    left: -121%;
    transform: skewX(30deg);
    top: 0;
    transition: all 0.5s;
    background-color:  #2BADE2;
    z-index: -1;
}
.service1-contents button:hover::before{
    left: -6%;
    background-color: #2BADE2;
}
.service1-contents button:hover{
    color: black;
}

.why-choose{
  padding: 50px 80px;
}
.why-choose img{
  width: 30px;
}
.why-choose p{
  font-size: .9em;
  color: #0CACBE;
}
.why-choose .col{
    border-right: 2px solid transparent;  /* Set border to transparent */
    border-image: linear-gradient(0deg, #6DDCFF, black) 1;  /* Apply gradient border */
}
.why-choose .col:first-child{
    border-right: 2px solid transparent;  /* Set border to transparent */
    border-image: linear-gradient(180deg, #6DDCFF, black) 1;  /* Apply gradient border */
}
.why-choose .col:last-child{
    border: none;
}

.footer{
    background-color: #010C11;
    padding: 20px 40px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
}
.footer div:first-child{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.footer div:first-child img{
    width: 100px;
    margin: auto;
}
.footer div:first-of-type h5{
    text-align: center;
    color: white;
    font-family: "phudu-big";
    margin-top: 15px;
}
.footer div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer div h4{
    font-size: 1em;
    color: white;
    font-family: "phudu-big";
}
.footer div a{
    font-size: .9em;
    opacity: 1;
    color: white;
    font-family: "poppins";
    transition: all .3s ease;
}
.footer div a:hover{
    transform: scale(1.02);
}
.footer div a.active{
    color: #2BADE2;
    position: relative;
}
.footer div a.active:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #2BADE2;
    bottom: -5px;
    left: 0;
}

.footer .footer-social{
    display: block;
}

.footer .footer-social img{
    width: 30px;
    margin-right: 10px;
}









/*responsiveness*/

@media (max-width: 1200px) {
    .services-hero{
        height: 550px;
        overflow: hidden;
        position: relative;
    }
    .services-hero img{
        height: 1600px;
        width: 100%;
        overflow: hidden;
        margin-top: -550px;
    }
    
}

@media (max-width: 1024px) {
    .service1-contents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        overflow: hidden;
        color: white;
        margin-top: 60px;
        grid-template-rows: auto auto;
        position: relative;
        padding-bottom: 40px;
        text-align: center;
    }

    .service1-contents .with-img{
        grid-row: 1;
        position: initial;
    }
    
}
