

/*responsiveness*/

@media (max-width: 1200px) {
    .contacts-hero{
        height: 550px;
        overflow: hidden;
        position: relative;
    }
    .contacts-hero img{
        height: 800px;
        width: 100%;
        overflow: hidden;
        margin-top: -200px;
    }
    .location h2{
        color: #2BADE2;
        font-size: 1.1em;
    }
    
}

@media (max-width: 1024px) {
    .contacts-hero{
        height: 550px;
        overflow: hidden;
        position: relative;
    }
    .contacts-hero img{
        height: 800px;
        width: 100%;
        overflow: hidden;
        margin-top: -200px;
    }
    .contact-contents{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 50px;
    }
    .icons{
        display: flex;
        gap: 20px;
        grid-row: 3;
        padding: 0;
    }
    .contact-contents .icons{
        padding: 5px 0;
        margin: auto;
    }
    .contact-info{
        grid-row: 2;
        max-width: 400px;
        margin: auto;
    }
    .contact-form{
        grid-row: 1;
    }
    .contact-item button{
        margin: auto;
    }
    .location-contents{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
    }
    .location-contents div:last-child{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .location-contents div:first-child{
        min-height: 350px;
    }
    .location-contents div:last-child h2{
        grid-row: 1;
    }
    .location-contents div:last-child img{
        grid-row: 2;
    }
    .location-text{
        font-size: 1em;
    }
}


